a {
  text-decoration: none !important;
  color: inherit !important;
}

body {
  margin: 0;
  font-family: "Lato";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.body {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  background: rgb(250, 250, 250);
  padding: 0.3cm 1.2cm;
  color: #292929;
}

.body h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.body h3 i {
  margin-right: 0.3cm;
  font-size: 2em;
  vertical-align: sub;
}

.body .section .item {
  margin-top: 1.5cm;
  margin-left: 0.4cm;
  padding-left: 0.6cm;
  border-left: 0.05cm solid #292929;
  position: relative;
}

.body .section .flex {
  display: flex;
  justify-content: space-between;
}

.body .section .item.flex > div {
  flex-basis: 45%;
}

.body .section .item .company {
  position: absolute;
  top: -1cm;
  left: -0.35cm;
  font-weight: bold;
  font-size: 1.1em;
}

.body .section .item .description {
  font-size: 0.95em;
  color: #5a5a5a;
}

.body .section .item .job-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0.4cm;
}

.body .section .item .location {
  margin-left: 0.1cm;
  font-size: 0.8em;
  color: #5a5a5a;
  font-weight: normal;
}

.body .section .item .period {
  margin-top: 0.05cm;
  font-size: 0.9em;
  color: #5a5a5a;
}

.logo {
  display: inline-block;
  height: 1.3em;
  vertical-align: sub;
  margin-right: 0.3cm;
}

.no-margin-top {
  margin-top: 0 !important;
}

.page {
  width: 21cm;
  height: 29.7cm;
  display: flex;
}

.sidebar {
  flex-basis: 6.5cm;
  flex-grow: 0;
  flex-shrink: 0;
  background: #007ad8;
  color: white;
}

.sidebar h4 i {
  font-size: 1.5em;
  margin-right: 0.7em;
}

.sidebar p {
  font-size: 0.9em;
}

.sidebar p i {
  margin-right: 0.7em;
  width: 0.6cm;
  text-align: center;
  font-size: 1.1em;
}

.sidebar .section {
  width: 80%;
  margin-top: 2cm;
  margin-left: 10%;
}

.sidebar .section h4 {
  margin-left: -10%;
  margin-bottom: 0.7cm;
  text-align: center;
}

.sidebar .job-title h4 {
  font-weight: normal;
}

.sidebar .name,
.sidebar .job-title {
  text-align: center;
}

.sidebar .photo-container {
  overflow: hidden;
  margin-top: 0.5cm;
  margin-left: 50%;
  transform: scale(0.85) translateX(-58.5%);
  height: 4.5cm;
  width: 4.5cm;
  border-radius: 2.25cm;
}

.sidebar .photo-container img {
  width: 100%;
}
